@use "../../../utilities/sizes";
@use "../../../utilities/colors";

.courseWrap {
  margin-top: 10rem;
  // padding-bottom: 5rem;
  .courseSecHeader {
    width: sizes.$container_Width_lg;
    margin: auto;
    h2 {
      display: flex;
      justify-content: center;
      //   align-items: center;
      font-size: 2rem;
      padding: 8rem 0 5rem;
    }
  }
  .courseCont {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 2rem;
    width: sizes.$container_Width_lg;
    margin: auto;
    .courseCard {
      background-color: transparent;
      //   background-color: #dbdb13;
      text-align: center;
      border: 2px solid #292929;
      padding-bottom: 2rem;
      border-radius: 1rem;
      color: #292929;
      transition: 0.4s ease-in;
      .courseImgWrap {
        .courseImg {
          width: 100%;
          height: 20rem;
          object-fit: cover;
          border-radius: 1rem 1rem 0 0;
        }
      }
      .courseInfo {
        padding: 2rem;
        h4 {
          font-size: 1.5rem;
        }
        p {
          margin: 1.2rem;
          font-size: 1.2rem;
          line-height: sizes.$line_height;
        }
      }
      .courseBtn {
        background-color: #0fc80f;
        padding: 10px 15px;
        font-weight: 500;
        font-size: 1rem;
        transition: 0.4s ease;
        color: #fff;
        font-size: 1.5rem;
        border-radius: 5px;
        cursor: pointer;
      }
      .courseBtn:hover {
        background-color: colors.$primaryColor;
      }
      &:hover {
        background-color: #292929;
        border-color: #fff;
        color: #fff;
      }
    }
  }

  @media screen and (max-width: 1024px) {
    margin-top: 0;
    margin-bottom: -5rem;
    .courseSecHeader {
      width: sizes.$container_Width_lg;
      margin: auto;
      h2 {
        display: flex;
        justify-content: center;
        //   align-items: center;
        font-size: 2rem;
        padding: 5rem 0;
      }
    }
    .courseCont {
      display: flex;
      flex-direction: column;
      gap: 3rem;
      width: sizes.$container_Width_md;
    }
  }
}
