.user {
  position: absolute;
  right: 2.5rem;
  display: flex;
  gap: 0.5rem;
  margin-top: 0.3rem;
  font-size: 1.2rem;
  // padding-left: 10rem;
  .userActions {
    position: relative;
    display: flex;
    gap: 0.5rem;
    .login {
      display: flex;
      justify-content: center;
      align-items: center;
      gap: 0.5rem;
      button {
        font-size: 1.2rem;
        background-color: transparent;
        cursor: pointer;
        font-weight: 500;
        padding: 0 0.5rem;
        // border-radius: 0.5rem;
        transition: 0.5s ease;
        &:nth-child(1) {
          color: #fff;
          border-right: 2px solid #fff;
          &:hover {
            color: yellow;
          }
        }
        &:nth-child(2) {
          color: yellow;
          border-left: 2px solid #fff;
          // border: 2px solid red;
          &:hover {
          }
        }
      }
    }
    .loginOptions {
      margin-top: 1rem;
      position: fixed;
      top: 9rem;
      right: 2rem;
      height: fit-content;
      width: 13rem;
      flex-direction: column;
      gap: 0;
      display: block;
      border-radius: 0.4rem;
      // position: absolute;
      // width: 12rem;
      // margin-top: 2rem;
      // z-index: 1;
      // background-color: #292929;
      .loginWrap {
        display: flex;
        justify-content: space-between;
        align-items: center;
        font-size: 1.2rem;
        background-color: #292929;
        color: #fff;
        transition: 0.4s ease;
        cursor: pointer;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
        padding: 1rem;
        .loginIcon {
          color: #0aca0a;
        }
        &:hover {
          background-color: #323232;
        }
        &:nth-child(1) {
          animation-delay: 200ms;
          border-radius: 0.4rem 0.4rem 0 0;
          border-bottom: 1px solid #ccc;
        }
        &:nth-child(2) {
          animation-delay: 300ms;
          border-bottom: 1px solid #ccc;
        }
        &:nth-child(3) {
          animation-delay: 400ms;
          border-bottom: 1px solid #ccc;
        }
        &:nth-child(4) {
          animation-delay: 500ms;
          border-radius: 0 0 0.4rem 0.4rem;
        }
        p {
          // padding: 1rem;
        }
      }
    }
  }
  .userInfo {
    position: relative;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    .currentUserName {
      color: #fff;
    }
    .icon {
      img {
        width: 3rem;
        height: 3rem;
        border-radius: 50%;
        object-fit: cover;
        cursor: pointer;
      }
    }
    .navLogout {
      position: absolute;
      width: 10rem;
      // min-height: 7rem;
      top: 2.4rem;
      right: 0%;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      padding: 1rem 0.3rem;
      border-radius: 0.4rem;
      transition: 0.4s ease;
      :nth-child(3) {
      }
      span {
        cursor: pointer;
        color: #fff;
        // margin: 0.5rem 0;
        padding: 0.5rem 1rem;
        font-size: 1rem;
        animation: animateNavItems 400ms linear forwards;
        transform-origin: top right;
        opacity: 0;
        background-color: #323232;
        &:hover {
          background-color: #555;
        }
        &:nth-child(1) {
          animation-delay: 200ms;
          border-radius: 0.2rem 0.2rem 0 0;
          border-bottom: 1px solid #ccc;
        }
        &:nth-child(2) {
          animation-delay: 300ms;
          border-bottom: 1px solid #ccc;
        }
        &:nth-child(3) {
          animation-delay: 400ms;
          border-bottom: 1px solid #ccc;
        }
        &:nth-child(4) {
          animation-delay: 500ms;
          &:hover {
            background-color: #fc5656;
            border: 0 1px 1px solid #292929;
            .logUserOut {
              color: #fff;
            }
            .logoutIcon {
              color: #fff;
            }
          }
        }
      }
      .logUserOutWrap {
        display: flex;
        align-items: center;
        justify-content: space-between;
        // background-color: #fff;
        // border-right: 1px solid #292929;
        // border-left: 1px solid #292929;
        transition: 0.4s ease;
        .logUserOut {
          color: #fc5656;
        }
        .logoutIcon {
          font-size: 1rem;
          color: #fc5656;
        }
      }
    }
  }
  @keyframes animateNavItems {
    0% {
      transform: rotateZ(-90deg) rotateX(90deg) scale(0.1);
    }
    100% {
      transform: rotateZ(0) rotateX(0) scale(1);
      opacity: 1;
    }
  }
  @media screen and (max-width: 460px) {
    .userActions {
      .login {
        margin-right: -2rem;
      }
      .loginOptions {
        margin-right: -1rem;
        opacity: 0.9;
        .loginWrap {
          font-size: 1rem;
          font-weight: 300;
          padding: 0.4rem;
        }
      }
    }
    .userInfo {
      margin-right: -2rem;
      .currentUserName {
        font-size: 1rem;
        font-weight: 300;
      }
      .navLogout {
        top: 2.4rem;
        span {
          font-weight: 300;
        }
      }
    }
  }
}
