.attendanceTable {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  .noAttRecords {
    // width: 100%;
    text-align: center;
    font-size: 1.2rem;
    padding: 2rem;
  }
  table {
    border: 2px solid #ccc;
    width: 70%;
    margin-bottom: 3rem;
    //   height: 200px;
  }
  th {
    border: none;
    background-color: #555;
    color: #fff;
    padding: 1rem 0;
  }
  td {
    text-align: center;
    border-bottom: 1px solid #ccc;
  }
  .alignHeaderLeft {
    text-align: center;
    // padding: 1rem ;
    border: #555 1px solid;
  }
  .alignTextLeft {
    text-align: left;
    padding: 0.5rem 1rem;
    border: #555 1px solid;
  }
  .statusFlex {
    display: flex;
    text-align: left;
    padding: 1.15rem;
    border: #555 1px solid;
    height: inherit;
    gap: 1rem;
  }
  .statusWrap {
    display: flex;
    align-items: center;
    .status {
      display: flex;
      align-items: center;
      .statusActionBtn {
        display: flex;
        align-items: center;
        margin: 0 0.5rem;
        cursor: pointer;
        button {
          background-color: transparent;
          cursor: pointer;
        }
        &:nth-child(1) {
          background-color: #06ab06;
          padding: 0.3rem 0.5rem;
          border-radius: 0.4rem;
          button {
            color: #fff;
          }
        }
        &:nth-child(2) {
          background-color: rgb(249, 56, 56);
          padding: 0.3rem 0.5rem;
          border-radius: 0.4rem;
          button {
            color: #fff;
          }
        }
        &:nth-child(3) {
          background-color: rgb(4, 160, 238);
          padding: 0.3rem 0.5rem;
          border-radius: 0.4rem;
          button {
            color: #fff;
          }
        }
        .statusIcons {
          font-size: 1rem;
          margin-right: 0.3rem;
        }
      }
    }
  }
  .statusValueWrap {
    display: flex;
    gap: 1rem;
    .statusValue {
      display: flex;
      gap: 0.3rem;
    }
  }
  .saveAttendance {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding-bottom: 3rem;
    gap: 0.5rem;
    .date {
      display: flex;
      gap: 1rem;
    }
    button {
      padding: 0.7rem;
      border-radius: 0.4rem;
      background-color: green;
      color: #fff;
      font-size: 1.2rem;
      cursor: pointer;
    }
  }
}
