.studentTimeTable {
  width: 100%;
  border: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  .classTeacher {
    display: flex;
    gap: 1rem;
    align-items: center;
    span {
      font-size: 1.2rem;
      font-weight: 500;
      display: flex;
      gap: 1rem;
      align-items: center;
    }
    // width: 100%;
  }
  h1 {
    width: 94%;
    margin: auto;
    margin-bottom: 2rem;
    margin-top: -2.5rem;
  }
  .studentTimeTableWrap {
    background-color: #fff;
    padding: 2rem 0;
    width: 100%;
    margin-top: 1rem;
    //   .studentTimeTable {
    display: flex;
    justify-content: center;
    .theTime {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      font-size: 3rem;
      font-weight: 900;
      color: #fff;
      border-radius: 0.4rem;
      margin-bottom: 2rem;
      padding: 0.3rem 1rem;
      background-color: #323131;
      .localTime {
        font-size: 0.8rem;
      }
    }
    .theDay {
      font-size: 3rem;
      font-weight: 900;
      color: #555;
    }
    .studentTimeTableData {
      border: 2px solid #ccc;
      width: 90%;
      margin-bottom: 3rem;
      h3 {
        padding: 0.4rem 0;
        padding-left: 1rem;
      }
    }
    th {
      border: none;
      background-color: #555;
      color: #fff;
      padding: 1rem 0;
      font-weight: 500;
    }
    td {
      text-align: center;
      border-bottom: 1px solid #ccc;
      padding: 0.5rem 0;
      color: #696969;
      font-weight: 300;
      .displayColumn {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
      }
      img {
        width: 3rem;
        height: 3rem;
        margin: 0.3rem 0.3rem 0;
        border-radius: 50%;
        object-fit: cover;
      }
    }
    .lessons {
      // text-align: left;
      padding: 1rem;
      border: #555 1px solid;
    }
    .currentLesson {
      background-color: green;
      color: #fff;
      border: #555 1px solid;
    }
    .tableHearder {
      text-align: center;
      padding: 0.7rem 1rem;
    }
    .days {
      text-align: left;
      padding: 0.7rem 1rem;
      &:hover {
        background-color: #323131;
      }
    }
    .currentDay {
      background-color: #323131;
      color: #fff;
      text-align: left;
      padding: 0.7rem 1rem;
    }
    .breakTime {
      border: none;
    }
    .currentBreakTime {
      background-color: rgb(215, 4, 4);
      color: #fff;
      border: none;
    }
    //   }
  }
}
