$primaryColor: green;
$secondaryColor: #aeae0d;
$primaryTextColor: #fff;
$white_background: #fff;
$secondaryTextColor: #696969;
$light_grey: #efefef;
$isLink: #d3830b;
$backGroundColor: #292929f4;
$navBarColor: #292929;
