// ********** WIDTH********* //
$container_Width_fit: 100vw;
$container_Width_lg: 80vw;
$container_sideBar_Width: 20vw;
$container_Width_md: 90vw;
$container_Width_sm: 94vw;

// ********** HEIGHT********* //
$container_height_fit: 100%;
$container_height_lg: 80%;
$container_height_md: 90%;
$container_height_sm: 94%;
$header_height: 10rem;
$line_height: 1.5;
