@use "../../utilities/colors";
@use "../../utilities/sizes";

.contact {
  width: sizes.$container_Width_fit;
  background-color: colors.$backGroundColor;
  min-height: 100vh;
  color: #fff;
  overflow: hidden;
}
