.programesWrap {
  .options {
    display: flex;
    justify-content: center;
    gap: 15rem;
    padding: 2rem 0;
    .optionBtn {
      width: 15rem;
      font-size: 1.2rem;
      background-color: green;
      color: #fff;
      padding: 1rem;
      border-radius: 0.4rem;
      cursor: pointer;
    }
  }
  h3 {
    // display: flex;
    // justify-content: center;
    // padding-top: 0.5rem;
  }
  .programName {
    // display: flex;
    // flex-direction: column;
    // align-items: center;
  }
  .pdfWrap {
    background-color: #292929;
    padding: 2rem 2rem 0;
    width: 100%;
    .excelExport {
      // position: relative;
      width: 80%;
      margin: auto;
      display: flex;
      justify-content: flex-end;
      align-items: flex-end;
      .excelBtn {
        padding: 0.5rem;
        margin-bottom: 0.5rem;
        border-radius: 0.4rem;
        background-color: green;
        color: #fff;
        font-size: 1.2rem;
        cursor: pointer;
      }
    }
  }
  .subjectContent {
    background-color: #292929;
    padding: 2rem;
    width: 100%;
    .attendanceTable {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      table {
        border: 2px solid #ccc;
        width: 80%;
        margin-bottom: 3rem;
        //   height: 200px;
      }
      th {
        border: none;
        background-color: #555;
        color: #fff;
        padding: 1rem 0;
        font-weight: 500;
      }
      td {
        text-align: center;
        border-bottom: 1px solid #ccc;
        padding: 0.5rem 0;
        color: #fff;
        font-weight: 300;
        img {
          width: 3rem;
          height: 3rem;
          margin: 0.3rem 0.3rem 0;
          border-radius: 50%;
          object-fit: cover;
        }
      }
      .alignTextLeft {
        text-align: left;
        padding-left: 1rem;
        border: #555 1px solid;
      }
    }
  }
}
