form {
  display: flex;
  flex-direction: column;
  gap: 30px;
  .studentId {
    display: flex;
    align-items: center;
    position: relative;
    .loginInput {
      width: 100%;
    }
  }
  .loginInput {
    border: none;
    border-bottom: 1px solid lightgray;
    padding: 12px 10px;
    font-size: 1.1em;
    border-radius: 3px;
    &:focus {
      outline: 1px solid #0b601c80;
    }
    &::placeholder {
      color: #a8a6a6;
    }
  }
  button {
    width: 50%;
    padding: 10px;
    border: none;
    background-color: #05e105;
    color: white;
    font-weight: bold;
    cursor: pointer;
    transition: 0.4s;
    font-size: 1.1em;
    border-radius: 3px;
    &:hover {
      background-color: #04bb04;
    }
  }
  .forgotPassword {
    display: flex;
    justify-content: flex-end;
    font-size: 1rem;
    font-style: italic;
    margin: -1rem 0 0;
    color: rgb(13, 205, 10);
    cursor: pointer;
  }
}
