@use "../../utilities/colors";
@use "../../utilities/sizes";
.itWrap {
  width: sizes.$container_Width_fit;
  background-color: colors.$primaryTextColor;
  min-height: 100vh;
  color: #292929;
  overflow: hidden;
  padding-top: 10rem;
}
