@use "../../../utilities/sizes";
@use "../../../utilities/colors";

.questionsWrap {
  background-color: rgb(28, 28, 28);
  //   background-image: url("../../../../public/assets/images/faq_bgImg.jpg");
  //   opacity: 0.4;
  padding-bottom: 5rem;
  .courseSecHeader {
    width: sizes.$container_Width_lg;
    margin: auto;
    h2 {
      display: flex;
      justify-content: center;
      color: #fff;
      //   align-items: center;
      font-size: 2rem;
      padding: 5rem 0;
    }
  }
  .questionsCont {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 1rem;
    width: sizes.$container_Width_lg;
    margin: auto;
    .questions {
      //   display: flex;
      //   align-items: center;
      // padding: 2rem;
      height: fit-content;
      cursor: pointer;
      color: #000;
      background-color: #fff;
      .active {
        background-color: #6e706f;
        padding: 2rem 0;
        width: 100%;
        color: #fff;
      }
      .questionsIcon {
        display: flex;
        align-items: center;
        gap: 1.4rem;
        padding: 2rem;
        h4 {
          font-size: 1.5rem;
          line-height: 1.5;
        }
      }
      .questionsAnswer {
        display: none;
        padding: 0 2rem;
        font-size: 1.2rem;
        margin-top: 1rem;
        line-height: sizes.$line_height;
        a {
          padding-left: 3rem;
          margin-top: 1rem;
          line-height: sizes.$line_height;
          .faqBtn {
            background-color: transparent;
            border: 2px solid #6e706f;
            padding: 10px 15px;
            margin-top: 1rem;
            margin-left: -3rem;
            font-weight: 500;
            transition: 0.4s ease;
            color: #6e706f;
            font-size: 1.5rem;
            border-radius: 0.4rem;
            cursor: pointer;
            margin-bottom: 1.5rem;
            &:hover {
              background-color: #6e706f;
              color: colors.$primaryTextColor;
              border: 2px solid #6e706f;
            }
          }
        }
      }
    }
    .questions.open .questionsAnswer {
      display: block;
    }
  }

  @media screen and (max-width: 1024px) {
    .questionsCont {
      display: flex;
      flex-direction: column;
      width: sizes.$container_Width_md;
    }
  }
  @media screen and (max-width: 960px) {
  }
  @media screen and (max-width: 460px) {
    .courseSecHeader {
      h2 {
        font-size: 1.3rem;
        padding: 2.5rem 0;
      }
    }
    .questionsCont {
      .questions {
        .active {
          background-color: #6e706f;
          padding: 2rem 0;
          width: 100%;
          color: #fff;
        }
        .questionsIcon {
          display: flex;
          align-items: center;
          gap: 1.4rem;
          padding: 2rem;
          h4 {
            font-size: 1.1rem;
            line-height: 1.5;
          }
        }
        .questionsAnswer {
          font-size: 1rem;
          a {
            padding-left: 3rem;
            font-size: 1rem;
            margin-top: 1rem;
            line-height: sizes.$line_height;
            .faqBtn {
              padding: 0.5rem;
              font-size: 1rem;
              &:hover {
                background-color: #6e706f;
                color: colors.$primaryTextColor;
                border: 2px solid #6e706f;
              }
            }
          }
        }
      }
      .questions.open .questionsAnswer {
        display: block;
      }
    }
  }
}
