@use "../../../utilities/sizes";
@use "../../../utilities/colors";

.slideWrap {
  position: relative;
  // padding-top: 9.5rem;
  width: 100%;
  height: 50rem;
  color: #fff;
  // margin-top: -0.5rem;
  // .slideCont:nth-child(2) {
  //   background-size: unset;
  // }
  // .slideCont:nth-child(3) {
  //   background-position: unset;
  // }
  .iconLeft {
    position: absolute;
    top: 60%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    left: 10rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    color: #000;
    cursor: pointer;
  }
  .iconRight {
    position: absolute;
    top: 60%;
    width: 4rem;
    height: 4rem;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: translate(0, -50%);
    right: 10rem;
    z-index: 1;
    background-color: #fff;
    border-radius: 50%;
    padding: 1rem;
    color: #000;
    cursor: pointer;
  }
  .backArrow {
    font-size: 2rem;
    margin-left: 0.5rem;
  }
  .forwardArrow {
    font-size: 2rem;
    // margin-right: 0.5rem;
  }
  .slideCont {
    width: 100%;
    height: 75rem;
    padding-top: 9.5rem;
    background-position: center;
    background-size: cover;
    .overlay {
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: flex-start;
      padding-left: 25rem;
      margin-top: -3rem;
      height: 45rem;
      background-color: rgba(0, 0, 0, 0.5);
      h1 {
        width: 80%;
        font-size: 3.5rem;
        padding-bottom: 0.5rem;
      }
      h3 {
        font-size: 1.5rem;
        font-weight: 100;
        background-color: rgba(0, 0, 0, 0.6);
        padding: 0.5rem 1rem;
        margin-bottom: 1rem;
        border-radius: 0.5rem;
      }
      a {
        position: absolute;
        top: 52%;
        left: 25rem;
        transform: translate(0%, -50%);
        color: #fff;
        margin-top: -2rem;
        .appointmentBtn {
          position: relative;
          background-color: transparent;
          padding: 0.7rem;
          font-weight: 500;
          transition: color 0.4s linear;
          color: #fff;
          font-size: 1.5rem;
          cursor: pointer;
          border-radius: 5px;
          border: 2px solid #fff;
          &::before {
            content: "";
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
            background-color: colors.$primaryColor;
            border-radius: 5px;
            z-index: -1;
            transition: transform 0.5s;
            transform-origin: 0 0;
            transform: scaleX(0);
            transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
          }
          &:hover::before {
            transform: scaleX(1);
          }
        }
      }
    }
  }
  @media screen and (max-width: 1024px) {
    background-color: #9c117e;
  }
  @media screen and (max-width: 768px) {
    background-color: #ff7b00;
  }
  @media screen and (max-width: 460px) {
    background-color: #fff;
    height: 27rem;
    .iconLeft {
      top: 72%;
      width: 2rem;
      height: 2rem;
      left: 1.2rem;
      // opacity: 0.6;
    }
    .iconRight {
      top: 72%;
      width: 2rem;
      height: 2rem;
      right: 1.2rem;
      // opacity: 0.6;
    }
    .backArrow {
      font-size: 1.5rem;
      margin-left: 0.5rem;
    }
    .forwardArrow {
      font-size: 1.5rem;
    }
    .slideCont {
      width: 100%;
      // height: 75rem;
      padding-top: 0;
      background-position: center;
      background-size: contain;
      .overlay {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        padding: 0 3.5rem;
        margin-top: 1rem;
        height: 35rem;
        background-color: rgba(0, 0, 0, 0.5);
        h1 {
          width: 100%;
          font-size: 1.5rem;
          padding-bottom: 0.5rem;
        }
        h3 {
          font-size: 1rem;
          font-weight: 100;
          background-color: rgba(0, 0, 0, 0.6);
          padding: 0.5rem;
          margin-bottom: 1rem;
          border-radius: 0.5rem;
        }
        a {
          position: absolute;
          top: 34%;
          left: 3.5rem;
          transform: translate(0%, -50%);
          color: #fff;
          margin-top: -2rem;
          .appointmentBtn {
            position: relative;
            background-color: transparent;
            padding: 0.5rem;
            font-weight: 500;
            transition: color 0.4s linear;
            color: #fff;
            font-size: 1rem;
            cursor: pointer;
            border-radius: 5px;
            border: 2px solid #fff;
            &::before {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              background-color: colors.$primaryColor;
              border-radius: 5px;
              z-index: -1;
              transition: transform 0.5s;
              transform-origin: 0 0;
              transform: scaleX(0);
              transition-timing-function: cubic-bezier(0.5, 1.6, 0.4, 0.7);
            }
            &:hover::before {
              transform: scaleX(1);
            }
          }
        }
      }
    }
  }
}
