.lgtBtn {
  background-color: red;
  margin-top: 1rem;
  color: #fff;
  padding: 0.5rem 1rem;
  border-radius: 0.4rem;
  margin-left: 3.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}
.lgtBtnClosedSideBar {
  background-color: red;
  margin-top: 1rem;
  color: #fff;
  padding: 0.3rem 0.8rem;
  border-radius: 0.4rem;
  margin-left: 0.5rem;
  font-size: 1.1rem;
  cursor: pointer;
}
